# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AOE-exp/

# To prevent extra Mac files from annoying people like rderekp
**.DS_Store
**._**

# Ignore all files except for TGC files.
/*
!/TGC/
!.gitattributes
!.gitignore
!*\ Changelog\ -\ TGC.txt
!README.md
!LÉEME\ (README\ in\ Spanish).md
!TGC\ -\ Best\ Practices.txt
!Tracked\ issues\ and\ suggestions.txt
!/Templates/
!/Unused Files/
!TGC.mod

# Submods
!/TGCHFMStyleCultureColors/
!TGCHFMStyleCultureColors.mod
!/TGCHFMMap/
!TGCHFMMap.mod
!/TGCPastelMap/
!TGCPastelMap.mod
!/TGCStatehoodMechanic/
!TGCStatehoodMechanic.mod
!/TGCCountriesEndonymicLocalization/
!TGCCountriesEndonymicLocalization.mod
!/TGCDirectImmigration/
!TGCDirectImmigration.mod
!/TGCPerformanceAddon/
!TGCPerformanceAddon.mod
