# Auto detect text files and perform LF normalization
*.txt working-tree-encoding=cp1252 git-encoding=cp1252 eol=lf
*.csv working-tree-encoding=cp1252 git-encoding=cp1252 eol=lf
*.lua working-tree-encoding=cp1252 git-encoding=cp1252 eol=lf