# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# To prevent extra Mac files from annoying people like rderekp
**.DS_Store
**._**

# Ignore all files except for TGC files.
/*
!/TGC/
!.gitattributes
!.gitignore
!README.md
!TGC.mod

# Submods
!/TGCApocalypse1836
!/TGC Niche Submods
!/TGCApocalypse1836.mod
!/TGCFantasyFormables/
!TGCFantasyFormables.mod
!/TGCHFMMap/
!TGCHFMMap.mod
!/TGCPastelMap/
!TGCPastelMap.mod
!/TGCDirectImmigration/
!TGCDirectImmigration.mod
!/TGCPerformanceAddon/
!TGCPerformanceAddon.mod
!/TGC Niche Submods/*
!TGCCountriesEndonymicLocalization
!TGCCountriesEndonymicLocalization.mod
!Divergences of Darkness
